
<body ng-controller="issuebookctrl">
<div class="row">
<div class="container ">
<div class="col-md-8">
 <div class="col-md-offset-4 ">
 <form>
         <input type="text" placeholder="Search...">
                                <input type="button" value="Search" href=#view>
                                </form>
				  <form>
	                    	<b>BookId</b><input type="text" id="bid" class="form-control"
				ng-model="books.id"/>	
				
				<b>ISBN</b><input type="text" id="isbn" class="form-control"
				ng-model="books.isbn"/>
		<b>TITLE</b><input type="text" id="title" class="form-control"
				ng-model="books.title"/>
				
			<b>AUTHOR</b>	<input type="text" id="author" class="form-control"
				ng-model="books.author"/>
							<br>
				<b>Member Id</b><select>
<option  ng-repeat="member in member"  value="{{mem.memId}}">
</option>
</select>	<br>
<br>
<br>

	<input type="submit" class="btn btn-primary" value="Issue"/>
		</form>
		</div>
		</div>
		</div>
		</div>






</body>
