
<body ng-controller="issuebookctrl">
<div class="row">
<div class="container ">
<div class="col-md-8">
 <div class="col-md-offset-4 ">
 <form>
         <input type="text" placeholder="Search...">
                                <input type="button" value="Search" href=#view>
                                </form>
				  <form>
	
				
				
				
				
		<b>TITLE</b><select class="form-control" ng-model="state.title">
				<option  ng-repeat="book in books"  value="{{book.title}}">{{book.title}}
				</option>
				</select>
			 <button ng-click="fetchbytitle()">Fetch</button>
				 
				
				<b>ISBN</b><input type="text" id="isbn" class="form-control"
				ng-model="books.isbn"/>
				
				
		
		<b>Copies</b><select class="form-control" ng-model="ab.accountId">
				<option  ng-repeat="book in books.quantity"  value="{{book.accountId}}">{{book.accountId}}
				</option></select>
		
				
			<b>AUTHOR</b>	<input type="text" id="author" class="form-control"
				ng-model="books.author"/>
							<br>
				
				
				<b>Member Id</b>
				<input type="text" ng-model="cd.memberId">
				<!-- <select class="form-control" ng-model="bookdetails.members.memberId">
<option  ng-repeat="member in member"  value="{{mem.memId}}">
</option>

</select> -->	<br>
<br>
<br>

	<input type="submit" class="btn btn-primary" ng-click="issueBook()" value="Issue"/>
		</form>
		</div>
		</div>
		</div>
		</div>






</body>
