<!-- View Book By Category -->

<body ng-controller="viewbookctrl">

<div style="padding-bottom:12px"><br>
<h2 style="color:hotpink">&nbsp;&nbsp; List of books in {{index.categoryname}}</h2>

</div>

<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-10" >
    					
    				
    				<br>
    				<div   class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="x in index.book" >
    					<div class="hovereffect">
    						<img src="images/portfolio-img2.jpg" class="img-responsive" alt="team img 1">
    							<div class="overlay">
    							<br>
    							<br>
    								 <h4 style="color:cyan">{{x.title}}</h4>
    								 <h4 style="color:White">By<br> <h4 style="color:hotpink">{{x.author}}</h4></h4>
    							<h4 style="color:cyan">{{x.isbn}}</h4>
    							</div>
    					</div>
    				</div>
    				
    				</div>    			
    		</div>
    	</section>
    	<!-- end team -->

    	



<!-- <div>
<table class="table table-condensed">
<tr>
					<th>Title</th>
					<th>Author</th>
					<th>ISBN</th>
	
				</tr>
<tbody ng-repeat="x in index.book">
<tr>
<td>{{x.title}}</td>
<td>{{x.author}}</td>
<td>{{x.isbn}}</td>

</tr>
</tbody>
</table>
</div> -->
</body>